/* - - - - - - Slider - - - - - - */

#slider {
    width: 50vw;
    margin: 5vh auto 1vh auto;
    /* Flexbox properties for centering */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically (if applicable) */
}

/* - - - - - - Cards and containers - - - - - - */

.bar-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    /* width: 25vw; */
    /* height: 35vh; */
    border: 1px solid rgba(0, 0, 0, .125);
}

.bar-card > h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.bar-card-parent {
    height:100%;
}

.bar-card:hover {
    transform: translateY(-5px);
}

/* .barPlotContainer {
    width: 30vw;
    height: 50vh;
} */

#countyMapParent {
    width: 25vw; 
    height: 27vh;
    margin-bottom: 20px;
}

/* - - - - - - Chosen feature - - - - - - */

.chosen-feature {
    font-style: italic;
    text-decoration: underline dashed;
    text-underline-offset: 0.3rem;
}

/* - - - - - - Barplots - - - - - - */

#barPlot1 > svg > g > rect {
    fill: crimson;
}
#barPlot2 > svg > g > rect {
    fill: steelblue;
}
#barPlot3 > svg > g > rect {
    fill: orange;
}