/* Individual card styling */
.bar-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 20vw;
    max-width: 45vh;
    height: 40vh;
    border: 1px solid rgba(0, 0, 0, .125);
}

/* Hover effect on cards */
.bar-card:hover {
    transform: translateY(-5px);
}