


.ballot-font-large{
    font-size: 2.5rem;
}
.ballot-font-med{
    font-size: 2rem;
    color: gray;
}
.ballot-font-small{
    font-size: 1.75rem;
    color: #b5b3b3;
}

.padding-10{
    padding: 10px;
}
.padding-5{
    padding: 5px;
}

/* - - - - - - - - - - -*/
#ballot-top{
    overflow: hidden;
    background-image: linear-gradient(180deg,#acccd4,#e4f2f5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;

}
#ballot-top-page{
    height: 90vh;
    width: 83vw;
    background: #fff;
    text-align: start;
    padding: 1.8vw
}
#ballot-top-header{
    background: #f0f6f7;
    border: 1px solid #acccd4;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
}




#ballot-bottom{
    background: #e4f2f5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}
#ballot-bottom-page{
    height: 95vh;
    width: 83vw;
    background: #fff;
    text-align: start;
    padding: 1.8vw
}