#kde-container {
    background: #FAF9F6;
    font-family: 'Oswald', sans-serif;
}

#kde-plot-parent{
    height: 80vh;
}

.kde-left{
    height: 90vh;
}

.kde-card{
    background: white;
    margin:5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 2.5vh;
    padding: 1vh;
}

.kde-right{
    height: 40vh;
    width: 27.5vw;
    padding-right: 2vw;
    padding-left: 2vw;
}
.kde-right ul{
    font-size: large;
    text-align: left;
}
.kde-right ul li{
    padding-bottom: 1vh
}
.kde-right h4 {
    padding-bottom: 2vh;

}

.kde-right-top{
    margin-bottom: 5vh;
}



.custom-container {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.kde-right-top{

}

.kde-right-top-table{
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;
}

.kde-right table {
    border-collapse: collapse;

}

.kde-right table tr{
    text-align: left;
    height: 1vh
}

.kde-right table tr th{
    width: 5.5vw;

}

.kde-right table tbody tr {
    margin-bottom: 5px;
    padding: 10px;
    font-size: large;
}

.kde-right table tbody tr th div {
    height: 5px;
    margin-right: 25px
}

#kde-select{
    font-size: large;
    width: 10vw;
    text-align: center ;
}

#kde-title{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse
}