.rec-bg {
    color: white;
    font-family: 'Oswald', sans-serif;

}

#bg-rec-tran{
    background-image: linear-gradient(180deg, #FAF9F6, #e4f2f5);
    color: #D33D17;

}

#bg-rec-tran2{
    background: #e4f2f5;
    color: #D33D17;
}

.rec-bg h1 {
    font-size: 3em;
}

#rec1-bg {
    background-image: url("/images/vote1.jpg");
}

#rec2-bg {
    background-image: url("/images/vote2.jpg");
}

#rec3-bg {
    background-image: url("/images/vote3.jpg");
}

#rec4-bg {
    background-image: url("/images/vote4.jpg");
}

#rec4-bg table {
    width: 100%;
    margin-top: 10vh;
}

#rec4-bg h1 {
    color: #D33D17;
}
#rec4-bg h3{
    color:gray
}

.img-text-container {
    padding: 10px;
    background: rgba(255, 255, 255, .95);
    text-align: left;
    margin-left: 25vh;
    margin-right: 25vh;
}

.img-text-container-dark {
    padding: 10px;
    background: rgba(0, 0, 0, .8);
    text-align: left;
    margin-left: 25vh;
    margin-right: 25vh;
    color: white;
}


.img-text-container h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 10px;

}

.img-text-container ul {
    font-size: 1.5rem;
}

.img-text-container-dark h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 10px;

}

.img-text-container-dark ul {
    font-size: 1.5rem;
}

.conclusion-body{
    height: 65vh;
    padding-left: 4vh;

}
.conclusion-body ul{
    text-align: left;
}
.conclusion-body ul li {
    padding-top:5vh;
}