.rec-bg {
    color: white;
    font-family: 'Oswald', sans-serif;

}

#bg-rec-tran{
    background-image: linear-gradient(180deg, #FAF9F6, #e4f2f5);
    color: #D33D17;

}

#bg-rec-tran2{
    background: #e4f2f5;
    color: #D33D17;
}

.rec-bg h1 {
    font-size: 3em;
}

#rec1-bg {
    background-image: url("/img/vote1.jpg");
}

#rec2-bg {
    background-image: url("/img/vote2.jpg");
}

#rec3-bg {
    background-image: url("/img/vote3.jpg");
}

#rec4-bg {
    background-image: url("/img/vote4.jpg");
}

#rec4-bg table {
    width: 100%;
    margin-top: 10vh;
}
#rec4-bg td {
    padding: 0px 5px;
}
#rec4-bg h1 {
    color: #D33D17;
}
#rec4-bg .ballot-font-small {
    font-size: 1.3rem;
    color: #8F99A8;
}

.img-text-container {
    padding: 10px;
    /* background: rgba(255, 255, 255, .95); */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: left;
    margin: 5vh 25vh;
}

.img-text-container-dark {
    padding: 10px;
    /* background: rgba(0, 0, 0, .8); */
    background: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: left;
    margin: 5vh 25vh;
    color: white;
}
.img-text-container-dark > h1{
    color: white;
}

.img-text-container h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 10px;

}

.img-text-container ul {
    font-size: 1.5rem;
}

.img-text-container-dark h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 10px;

}

.img-text-container-dark ul {
    font-size: 1.5rem;
}

.conclusion-body{
    height: 65vh;
    padding-left: 4vh;

}
.conclusion-body ul{
    text-align: left;
}
.conclusion-body ul li {
    padding-top:5vh;
}