/* - - - - - - GLOBAL STYLES - - - - - - */

.section{
    text-align:center;
    font-family: arial,helvetica;
}
.fp-watermark {
    display: none !important;
}
/* - - - - - - SECTION SPECIFIC - - - - - - */

#section-1{
    background-image: linear-gradient(90deg,#2D72D2,#D33D17);
}